a{
    color:white;
    text-decoration: none;
}

a:hover{
    opacity:0.7;
}
.logo{
    padding-top:25px;
    padding-left:10px;
width:270px;
height:270px;
    display: flex;
    justify-content: space-around;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background:#010440;
    height:13vh;
    font-size:17px;
    padding-right:30px;
        font-family:bebas neue;
}
.nav-list{
    list-style:none;
    display:flex;
}
.nav-list li{
    letter-spacing:2px;
    margin-left:20px;
}

label{
    margin-left: 20px;
    font-family:bebas neue;
    font-size: 25px;
    color: white;
}

body {
    font-size: px;
    margin: 0px;
    background-color: #010326;
}
select {
    margin-left: 112px;
    height: 23px;
    width: 150px;
    border-radius: 5px;
    border-color: black
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    border: 1px solid #ddd;
}


.button-36 {
  background-image: linear-gradient(92.88deg, #01ca0b 9.16%, #1aa531 43.89%, #04833d 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-36:hover {
  box-shadow: rgba(30, 255, 0, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.button-35{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 5px;
  
}

.button-35:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-35 {
    padding: 0 2.6rem;
  }
}

section {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 50px;
 flex-wrap: wrap;
}
.content {
 position: relative;
 width: 600px;
 height: 400px;
 border-radius: 20px;
 background: rgba(31,32,39,1);
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 z-index: 1;
}
.content h1{
 font-size: 3rem;
 color: #00c2cb;
 z-index: 3;
}
.content h3{
 font-size: 20px;
 color: #e0ffff;
 z-index: 3;
}

